# Supabase Configuration
SUPABASE_URL=https://pgyimgczgrcplyoiimhl.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBneWltZ2N6Z3JjcGx5b2lpbWhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3NTYzNDcsImV4cCI6MjA5MjMzMjM0N30.Yu27XajkuXSGpSdj326Fx-0cShtArbp9bNH2XQta3DI
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBneWltZ2N6Z3JjcGx5b2lpbWhsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njc1NjM0NywiZXhwIjoyMDkyMzMyMzQ3fQ.zfuogb8hoK3NOMyHuEoKw7vWKG99Rgdw2ydxC2ikYaM
